<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
         colors="true"
         verbose="true"
         bootstrap="./Test/bootstrap.php">
    <testsuite name="Magento Unit Tests">
        <directory suffix="Test.php">Test/Unit</directory>
    </testsuite>
    <php>
        <ini name="date.timezone" value="Europe/Brussels"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
