<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="stockbase_tab" translate="label" sortOrder="1000">
            <label>Stockbase</label>
        </tab>
        <section id="stockbase" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Integration</label>
            <tab>stockbase_tab</tab>
            <resource>Stockbase_Integration::config</resource>
            <group id="integration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">

                <label>Stockbase Integration configuration</label>

                <field id="module_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allows to completely disable the Stockbase module. Enable to see other options.</comment>
                </field>

                <field id="username" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Your Stockbase username</label>
                    <depends>
                        <field id="*/*/module_enabled">1</field>
                    </depends>
                    <validate>validate-no-empty</validate>
                </field>

                <field id="password" translate="label" type="password" sortOrder="25" showInDefault="1" 
                       showInWebsite="1" showInStore="1">
                    <label>Your Stockbase password</label>
                    <depends>
                        <field id="*/*/module_enabled">1</field>
                    </depends>
                    <validate>validate-no-empty</validate>
                </field>

                <field id="environment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment selection</label>
                    <depends>
                        <field id="*/*/module_enabled">1</field>
                    </depends>
                    <source_model>Stockbase\Integration\Model\Config\Source\Environment</source_model>
                </field>

                <field id="ean_field" translate="label comment" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product EAN field</label>
                    <depends>
                        <field id="*/*/module_enabled">1</field>
                    </depends>
                    <validate>validate-no-empty</validate>
                    <source_model>Stockbase\Integration\Model\Config\Source\EanField</source_model>
                    <comment>Please select a product attribute that contains a valid EAN. Products with empty EAN will be ignored. Only simple products can have EAN.</comment>
                </field>
                
                <field id="create_ean_attribute" translate="comment" type="button" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Stockbase\Integration\Block\Adminhtml\System\Config\CreateEanAttributeButton</frontend_model>
                    <comment>Create the EAN attribute for simple products.</comment>
                    <depends>
                        <field id="*/*/module_enabled">1</field>
                        <field id="*/*/ean_field"><![CDATA[]]></field>
                    </depends>
                </field>

                <field id="order_prefix" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order prefix for Stockbase orders</label>
                    <depends>
                        <field id="*/*/module_enabled">1</field>
                    </depends>
                    <validate>validate-no-empty</validate>
                </field>

                <field id="images_sync_enabled" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Images Sync Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This will enable the images sync on product save.</comment>
                    <depends>
                        <field id="*/*/module_enabled">1</field>
                    </depends>
                </field>

                <field id="images_sync_cron_enabled" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Images Sync CRON Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This will enable the images sync through a CRON process.</comment>
                    <depends>
                        <field id="*/*/module_enabled">1</field>
                    </depends>
                </field>

                <field id="images_filter_products" translate="label" type="select" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Skip processed products?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If this option is disabled the Images Sync CRON will process all the Stockbase products everytime.</comment>
                    <depends>
                        <field id="*/*/module_enabled">1</field>
                        <field id="*/*/images_sync_cron_enabled">1</field>
                    </depends>
                </field>

            </group>
        </section>
    </system>
</config>
